---
# ==============================================
# RITA ROLE - Network Traffic Analysis (Bare Metal)
# ==============================================

- name: Remove old broken RITA installation
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /usr/local/bin/rita
    - /root/.rita
    - /home/{{ ansible_user }}/.rita
    - /opt/rita
  ignore_errors: true
  tags: rita

- name: Download RITA installer tarball
  ansible.builtin.get_url:
    url: "https://github.com/activecm/rita/releases/download/{{ rita_version }}/rita-{{ rita_version }}.tar.gz"
    dest: "/tmp/rita-{{ rita_version }}.tar.gz"
    mode: '0644'
  tags: rita

- name: Extract RITA installer
  ansible.builtin.unarchive:
    src: "/tmp/rita-{{ rita_version }}.tar.gz"
    dest: /tmp
    remote_src: true
  tags: rita

- name: Patch RITA installer for Ubuntu 25
  ansible.builtin.lineinfile:
    path: "/tmp/rita-{{ rita_version }}-installer/install_pre.yml"
    regexp: "ansible_distribution_major_version not in \\['22', '24'\\]"
    line: "          (ansible_distribution == 'Ubuntu'    and ansible_distribution_major_version not in ['22', '24', '25']) or"
  tags: rita

- name: Run RITA pre-checks playbook
  ansible.builtin.command:
    cmd: ansible-playbook install_pre.yml
    chdir: "/tmp/rita-{{ rita_version }}-installer"
  environment:
    ANSIBLE_LOCALHOST_WARNING: 'false'
  tags: rita

- name: Run RITA installation playbook
  ansible.builtin.command:
    cmd: ansible-playbook install_rita.yml
    chdir: "/tmp/rita-{{ rita_version }}-installer"
  environment:
    ANSIBLE_LOCALHOST_WARNING: 'false'
  tags: rita

- name: Verify RITA installation
  ansible.builtin.command: rita --version
  register: rita_version_check
  changed_when: false
  failed_when: false
  tags: rita

- name: Display RITA status
  ansible.builtin.debug:
    msg:
      - "RITA {{ rita_version }} installed!"
      - ""
      - "Binary: /usr/local/bin/rita"
      - ""
      - "Usage:"
      - "  rita import --database=my-dataset --logs=/path  # Import logs"
      - "  rita view my-dataset                            # View analysis"
      - ""
      - "Version: {{ rita_version_check.stdout | default('Check with: rita --version') }}"
  tags: rita
